@import "tailwindcss";

/* =========================
   CUSTOM SCROLLBAR
========================= */

/* WIDTH */
::-webkit-scrollbar {
    width: 10px;
}

/* TRACK */
::-webkit-scrollbar-track {
    background-color: transparent;
}

@keyframes rotate-border {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animated-border-wrapper {
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: inherit;
  box-shadow: 0 0 25px rgba(59, 130, 246, 0.3), inset 0 0 15px rgba(59, 130, 246, 0.2);
}

.animated-border-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: transparent;
  background-image: conic-gradient(
    rgba(59, 130, 246, 0.2) 0deg, 
    rgba(59, 130, 246, 0.2) 260deg, 
    rgba(96, 165, 250, 0.8) 320deg, 
    rgba(255, 255, 255, 1) 360deg
  );
  animation: rotate-border 2s linear infinite;
}


/* HANDLE */
::-webkit-scrollbar-thumb {
    background: #1f2937;
    border-radius: 999px;
    border: 2px solid #0d1117;
}

/* HANDLE HOVER */
::-webkit-scrollbar-thumb:hover {
    background: #3b82f6;
}

/* FIREFOX */
* {
    scrollbar-width: thin;
    scrollbar-color: #1f2937 #0d1117;
}